adb-shell==0.4.4
altgraph==0.17.4
cffi==1.17.0
cryptography==43.0.0
importlib_metadata==8.2.0
inquirerpy==0.3.4
numpy==2.0.1
opencv-python==4.10.0.84
packaging==24.1
pefile==2023.2.7
pfzy==0.3.4
prompt_toolkit==3.0.47
pyasn1==0.6.0
pycparser==2.22
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.2
rsa==4.9
wcwidth==0.2.13
zipp==3.20.0
